
        <!--<div class="row">-->
            <!--<div class="col-xs-12">-->
                <!--<a class="btn btn-warning btn-block btn-lg" href="#/data"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Back</a>-->
            <!--</div>-->
        <!--</div>-->
        <div class="row">
            <div class="col-xs-12">
                <textarea id="import" class="form-control" rows="10" ng-model="importBlock"></textarea>
                <!--<textarea id="import" class="form-control" rows="10"></textarea>-->
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <!--<button class="btn btn-default btn-block btn-lg" ng-click="specialImportPersonRides();"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;Import</button>-->
                <button class="btn btn-default btn-block btn-lg" ng-click="importPersonRides();"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;Import</button>
            </div>
        </div>
